@import url("@radix-ui/colors/tomatoDark.css");
@import url("@radix-ui/colors/mauveDark.css");

.dark-editor {
  --accentBase: var(--tomato1);
  --accentBgSubtle: var(--tomato2);
  --accentBg: var(--tomato3);
  --accentBgHover: var(--tomato4);
  --accentBgActive: var(--tomato5);
  --accentLine: var(--tomato6);
  --accentBorder: var(--tomato7);
  --accentBorderHover: var(--tomato8);
  --accentSolid: var(--tomato9);
  --accentSolidHover: var(--tomato10);
  --accentText: var(--tomato11);
  --accentTextContrast: var(--tomato12);

  --baseBase: var(--mauve1);
  --baseBgSubtle: var(--mauve2);
  --baseBg: var(--mauve3);
  --baseBgHover: var(--mauve4);
  --baseBgActive: var(--mauve5);
  --baseLine: var(--mauve6);
  --baseBorder: var(--mauve7);
  --baseBorderHover: var(--mauve8);
  --baseSolid: var(--mauve9);
  --baseSolidHover: var(--mauve10);
  --baseText: var(--mauve11);
  --baseTextContrast: var(--mauve12);

  --admonitionTipBg: var(--cyan4);
  --admonitionTipBorder: var(--cyan8);

  --admonitionInfoBg: var(--grass4);
  --admonitionInfoBorder: var(--grass8);

  --admonitionCautionBg: var(--amber4);
  --admonitionCautionBorder: var(--amber8);

  --admonitionDangerBg: var(--red4);
  --admonitionDangerBorder: var(--red8);

  --admonitionNoteBg: var(--mauve4);
  --admonitionNoteBorder: var(--mauve8);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  color: var(--baseText);
  --basePageBg: rgb(19, 19, 20);
}

.prose h1 {
  @apply text-3xl font-bold text-white;
}

.prose h2 {
  @apply text-2xl font-semibold text-white/90;
}

.prose h3 {
  @apply text-lg text-white/80;
}

.prose ul,
.prose ol {
  @apply text-sm list-outside;
}

.prose ul {
  @apply !list-disc pl-4;
}

.prose ol {
  @apply !list-decimal pl-5;
}

.prose blockquote {
  @apply border-l-4 bg-slate-400/10 border-cyan-500 pl-3 py-2 text-sm my-3;
}

.prose p {
  @apply text-sm text-neutral-300;
}
