@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-bar-border: 3.5px solid rgba(0, 0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 100vw;
  border: var(--scroll-bar-border);
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #878787;
  border-radius: 100vw;
  border: var(--scroll-bar-border);
  background-clip: padding-box;
}

.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}

@layer utilities {
  .scrollbar-in-light-bg::-webkit-scrollbar-track {
    @apply bg-neutral-800;
  }

  .scrollbar-no-space {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  .dev-border-cyan {
    @apply border border-cyan-500 rounded-md;
  }
  .dev-border-orange {
    @apply border border-orange-400 rounded-md;
  }
  .dev-border-red {
    @apply border border-red-500 rounded-md;
  }
  .dev-border-green {
    @apply border border-green-400 rounded-md;
  }

  .glass-morphism {
    box-shadow: 0 8px 32px 0 rgba(30, 39, 158, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
  }
}
